# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate


# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.apk


# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
/android/app/src/main/res/raw/
android/app/src/main/res/raw/*
android/app/src/main/res/raw/node_modules_awsamplify_core_package.json
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_apigateway20150709min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_apigateway20150709paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_applicationautoscaling20160206min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_applicationautoscaling20160206paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_autoscaling20110101min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_autoscaling20110101paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ce20171025min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ce20171025paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20170325min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20170325paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20170325waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20171030min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20171030paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20171030waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20180618min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20180618paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20180618waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20181105min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20181105paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20181105waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20190326min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20190326paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20190326waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudhsm20140530min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudhsm20140530paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudtrail20131101min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudtrail20131101paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codebuild20161006min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codebuild20161006paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codecommit20150413min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codecommit20150413paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codedeploy20141006min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codedeploy20141006paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codedeploy20141006waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codepipeline20150709min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_codepipeline20150709paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cognitoidentity20140630min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cognitoidentity20140630paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cognitoidp20160418min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cognitoidp20160418paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cognitosync20140630min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_comprehend20171127min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_comprehend20171127paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_comprehendmedical20181030min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_comprehendmedical20181030paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_config20141112min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_config20141112paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cur20170106min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cur20170106paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_devicefarm20150623min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_devicefarm20150623paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_directconnect20121025min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_directconnect20121025paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20111205min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20111205paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20111205waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20120810min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20120810paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_dynamodb20120810waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ec220161115min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ec220161115paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ec220161115waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ecr20150921min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ecr20150921paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ecs20141113min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ecs20141113paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ecs20141113waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticache20150202min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticache20150202paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticache20150202waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticbeanstalk20101201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticbeanstalk20101201paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticfilesystem20150201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticfilesystem20150201paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancing20120601min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancing20120601paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancing20120601waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancingv220151201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancingv220151201paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticloadbalancingv220151201waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticmapreduce20090331min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticmapreduce20090331paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elasticmapreduce20090331waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elastictranscoder20120925min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elastictranscoder20120925paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_elastictranscoder20120925waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_email20101201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_email20101201paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_email20101201waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_events20151007min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_events20151007paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_firehose20150804min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_firehose20150804paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_gamelift20151001min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_gamelift20151001paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iam20100508min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iam20100508paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iam20100508waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_inspector20160216min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_inspector20160216paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iot20150528min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iot20150528paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_iotdata20150528min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesis20131202min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesis20131202paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesis20131202waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideo20170930min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideo20170930paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideoarchivedmedia20170930min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideoarchivedmedia20170930paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideomedia20170930min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kinesisvideomedia20170930paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kms20141101min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_kms20141101paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lambda20141111min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lambda20141111paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lambda20150331min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lambda20150331paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lambda20150331waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lexmodels20170419min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_lexmodels20170419paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_logs20140328min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_logs20140328paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_machinelearning20141212min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_machinelearning20141212paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_machinelearning20141212waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_marketplacecommerceanalytics20150701min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_marketplacecommerceanalytics20150701paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_mediastoredata20170901min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_mediastoredata20170901paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_mobileanalytics20140605min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_monitoring20100801min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_monitoring20100801paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_monitoring20100801waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_mturkrequester20170117min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_mturkrequester20170117paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_opsworks20130218min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_opsworks20130218paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_opsworks20130218waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalize20180522min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalize20180522paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalizeevents20180322min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalizeevents20180322paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalizeruntime20180522min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_personalizeruntime20180522paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_pinpoint20161201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_polly20160610min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_polly20160610paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_pricing20171015min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_pricing20171015paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130110min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130110paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130212min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130212paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130909min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130909paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20130909waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20140901min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20140901paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20141031min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20141031paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rds20141031waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_redshift20121201min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_redshift20121201paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_redshift20121201waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rekognition20160627min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_rekognition20160627paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_resourcegroups20171127min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_resourcegroups20171127paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_route53domains20140515min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_route53domains20140515paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_route5320130401min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_route5320130401paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_route5320130401waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_runtimelex20161128min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_runtimelex20161128paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_s320060301min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_s320060301paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_s320060301waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_secretsmanager20171017min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_secretsmanager20171017paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_servicecatalog20151210min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_servicecatalog20151210paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sns20100331min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sns20100331paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sqs20121105min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sqs20121105paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ssm20141106min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ssm20141106paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_storagegateway20130630min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_storagegateway20130630paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_streamsdynamodb20120810min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_streamsdynamodb20120810paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sts20110615min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_sts20110615paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_textract20180627min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_textract20180627paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_translate20170701min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_translate20170701paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_waf20150824min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_waf20150824paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_workdocs20160501min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_workdocs20160501paginators.json
android/app/src/main/res/raw/src_global_config.json
android/app/src/main/res/raw/node_modules_awssdk_apis_workdocs20160501paginators.json
.gitignore
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_acm20151208waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_apigateway20150709min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_apigateway20150709paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_applicationautoscaling20160206min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_applicationautoscaling20160206paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_autoscaling20110101min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_autoscaling20110101paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ce20171025min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_ce20171025paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudformation20100515waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125min.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125paginators.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20161125waiters2.json
android/app/src/main/res/raw/node_modules_awssdk_apis_cloudfront20170325min.json
