<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SuperQSO</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMenuModule</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bunde ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.reactjs.native.example.sqsoMobile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1064314468310203~8912907965</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>fb</string>
		<string>facebook</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We use the media library to improve the UX.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We use Bluethoot to improve the UX.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We use the Bluethoot to improve the UX.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We use the Calendar to improve the UX.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to your camera to take and upload photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>We use the Contacts to improve the UX.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on the location servivces allows us show the distance of your QSOs.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turning on the location servivces allows us show the distance of your QSOs.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on the location servivces allows us show the distance of your QSOs.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the microphone to record the audio of the QSO.</string>
	<key>NSMotionUsageDescription</key>
	<string>We use the motion to improve the UX.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow access to your photos to upload from your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to your photos to upload from your library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use the photo library to improve the UX.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
