<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sqsomobile">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

  <!-- Empieza agregado de librearia react-native-push-notification -->

  <!-- < Only if you're using GCM or localNotificationSchedule() > -->
  <!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
  <!--    <permission-->
  <!-- android:name="com.sqsomobile.permission.C2D_MESSAGE"-->
  <!-- android:protectionLevel="signature" />-->
  <!--    <uses-permission android:name="com.sqsomobile.permission.C2D_MESSAGE" />-->
  <!--    &lt;!&ndash; < Only if you're using GCM or localNotificationSchedule() > &ndash;&gt;-->

  <!--&lt;!&ndash;    <uses-permission android:name="android.permission.VIBRATE" />&ndash;&gt;-->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <!-- Finaliza agregado de librearia react-native-push-notification -->



  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:allowBackup="false" android:theme="@style/AppTheme" android:requestLegacyExternalStorage="true">

    <activity android:name=".MainActivity" android:theme="@style/SplashTheme" android:label="@string/app_name" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan" android:documentLaunchMode="never">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
        <data android:mimeType="image/*" />
        <data android:mimeType="video/*" />
        <!-- Any other mime types you want to support -->
      </intent-filter>
      <!-- this intent filter handles superqso:// scheme -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="superqso" />
      </intent-filter>
      <!-- this intent filter handles https://app.superqso.com/ and http://app.superqso.com/  schemes -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="superqso.page.link"/>
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1064314468310203~8912907965"/>

    <!-- Empieza agregado de librearia react-native-push-notification -->

    <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_name" android:value="SuperQSO"/>
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_description" android:value="SuperQSO"/>
    <!-- Change the resource name to your App's accent color - or any other color you want -->
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_color" android:resource="@android:color/white"/>

    <!-- < Only if you're using GCM or localNotificationSchedule() > -->
    <!--        <receiver-->
    <!-- android:name="com.google.android.gms.gcm.GcmReceiver"-->
    <!-- android:exported="true"-->
    <!-- android:permission="com.google.android.c2dm.permission.SEND">-->
    <!--            <intent-filter>-->
    <!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
    <!--                <category android:name="com.sqsomobile" />-->
    <!--            </intent-filter>-->
    <!--        </receiver>-->
    <!-- < Only if you're using GCM or localNotificationSchedule() > -->

    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService"/>

    <!-- < Only if you're using GCM or localNotificationSchedule() > -->
    <!--        <service-->
    <!-- android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerServiceGcm"-->
    <!-- android:exported="false">-->
    <!--            <intent-filter>-->
    <!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
    <!--            </intent-filter>-->
    <!--        </service>-->
    <!-- </ Only if you're using GCM or localNotificationSchedule() > -->

    <!-- < Else > -->
    <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <!-- Finaliza agregado de librearia react-native-push-notification -->



  </application>

</manifest>
